/*•	#2E8B57 (Sea Green) - for headers, primary buttons
•	#4682B4 (Steel Blue) - for links, accents
•	#F5F5F5 (Cultured White) - for page background
•	 #333333 (Dark Charcoal) - for primary text
•	#DEB887 (Burly Wood) - for highlights, borders
      */



* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }

        body {
            font-family: roboto, sans-serif;
            background-color: #f5f5f5;
            padding: 00px;
            padding-top: 30px;
            color: #333333;
        }

/* Heading colors */
h1 , h2, h3, h4, h5, h6 {
    color: #2E8B57; /* Sea Green for headings */    
}

        /* Seas hero and background image */
        .seas-hero{
          background-image: url('images/seas-bg.jpg');  
          background-size: cover;
          text-align: center;
          background-position: center;
          display: flex;
          height: fit-content;
          padding: 100px 20px;
          color: #ffffff;
        }

        /* Forest hero and background image*/

        .forest-hero
        {
            background-image: url(images/forest-bg.jpg);
            background-position: center;
            background-size: cover;
            padding:100px 20px;
            color:#ffffff;
            display: flex;
            height: fit-content;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        /* Contact and background image*/
        .contact-hero{
             background-image: url('images/nice-mt.jpg');
            background-position: center;
            background-size: cover;
            color: #ffffff;
            text-align: center;
            height: fit-content;
            padding: 100px 20px ;
            display: block;
            justify-content: center;
            display: block;
        }
        /*About us hero and background image */
        .about-hero{
            background-image: url(images/about-bg.jpg);
            background-position: center;
            background-size: cover;
            color: #ffffff;
            text-align: center;
            height: fit-content;
            padding: 100px 20px ;
            display: block;
            justify-content: center;
            display: block;



        }



        /* Mountain hero and background image */

        .mountains-hero {
           
            background-image: url('images/mt-bg.jpg');
            background-size: cover;
            background-position: center; 
            text-align: center;
            display: flex;
            justify-content: center;
            height: fit-content;
            padding: 100px 20px;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);


        }
/* Polar hero and background image */
    .poles-hero {
           
            background-image: url('images/glacier-bg.jpg');
            background-size: cover;
            background-position: center; 
            text-align: center;
            display: flex;
            justify-content: center;
            height: fit-content;
            padding: 100px 20px;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    }
       
        /*homepage Hero and background image */

        .hero {
           
            background-image: url('images/ocean-bg.jpg');
            border-radius: 10px;
            background-size: cover;
            background-position: center; 
            text-align: center;
            display: flex;
            justify-content: center;
            height: fit-content;
            padding: 100px 20px;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);

        }
        /* Hero content styling */
        .hero-content, .mountains-content, .forest-content, .seas-content, .poles-content {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            color: #f8f8f8;
            border: #f5f5f5;
            max-width: 800px;
        }
        .hero-content h1 {
            font-size: 8rem;
            margin-bottom: 1rem;
        }



/* Page main Heading styling */
    .page-title {
            font-size: 6rem;
            margin-bottom: 1rem;
            color: #f8f8f8;
        }
/* Button styling */
        .btn-cause, .btn-contact, .btn-action {
            display: inline-block;
            padding: 15px 30px;
            margin: 10px;
            color: #fff;
            background-color: #28a745;
            border: none;
            border-radius: 100px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

/* Button hover effect */
        .btn-cause:hover, .btn-contact:hover, .btn-action:hover {
            background-color: #218838;
        }


        /*LOGO styling*/
        .logo {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #54db22;
    text-decoration: none;
    margin-right: auto;
    padding: 10px 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
      margin: 0;
    white-space: nowrap;
}





        /* Navigation Bar Styling */
        nav {
            background-color:  #ffffff;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0 0 0 10px;
            display: flex;
            justify-content: flex-end;
        }

        nav li {
            position: relative;
        }

        nav a, .dropbtn {
            display: block;
            color:black ;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
            background-color:  #ffffff;
            border: none;
            font-size: medium;
        }

        nav a:hover, .dropdown:hover .dropbtn {
            background-color: #54db22;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Heading Styling */

    h1 {
    text-align: center;
   margin: 40px 0;
    font-size: 3rem;
;
}

/* Section Styling */
.impact, .mission, .causes, .threat, .story, .action, .contact-form  {
    padding: 50px;  
    text-align: center;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
/* Item Styling */
.cause-item, .threat-item, .action-item {
    margin: 9px;   
    padding: 20px;
    background-color: #ffffff;
    
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0,0, 1);
    display: inline-block;
    width: 350px;
    vertical-align: top;
    height: auto;
}

.action-item {
    height: 520px;
}
.threat-item {
    height: 460px;
}



.cause-item:hover,.threat-item:hover,.action-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
}






/* Team Section Styling */
.team {
    padding: 50px;  
    text-align: center;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.team-item {
    margin: 9px;   
    padding: 20px;
    background-color: #ffffff;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0,0, 1);
    display: inline-block;
    width: 290px;
    vertical-align: top;
    text-align: center;

}

.team-image {
    width: 150px;  
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

 .cause-img, .threat-img{
    width: 100%;  
    height: 300px;
    border-radius: 2%;
    margin-bottom: 15px;
}


.role{ font-style: italic;
    color: #28a745;
    margin-top: 15px;
    padding: 10px 0;

}


/*Form styling*/
form {
    max-width: 600px;
    width: 48%;
    min-width: 400px;
    margin: 0 20;
    float: left;
    height: 600px; ;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
input[type="text"], input[type="email"], textarea {
    width: 48%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    height: 150px;
}
/* Submit button styling */
input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #218838;
}

/*map styling*/
.form-content iframe {
    width: 48%;
    min-width: 400px;
    max-width: 600px;
    height: 600px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-flex;
}



/* Footer and Footer content styling  */
footer {
    padding-top: 30px;
    background-color: #2E8B57;
    height: fit-content;
    text-align: center;
   
}

.btt {
    background-color:#2E8B57; 
    color: #f5f5f5;
    height: fit-content;
    width: auto;
    font-size: large;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
}

.icon {
    width:30px;  /* Logo styling */
}


.f-links{
color: #333333;

}
.footer-content {

     text-align: center;
    display: inline-block;
    width: 24%;
    text-align: center;
    vertical-align: top;
    padding: 0 10px;

}




.footer-item{
    display: inline-flex;

}


footer .footer-content h3 {
    color: #DEB887;
}


        /* Responsive Design */
        @media (max-width: 768px) {
           


.page-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #f8f8f8;
    max-width: 400px;
}
 /* Seas hero and background image */
        .seas-hero{
          background-image: url('images/seas-bg.jpg');  
          background-size: cover;
          text-align: center;
          background-position: center;
          display: block;
          height: fit-content;
          padding: 100px 20px;
          color: #ffffff;
        }

        /* Forest hero and background image*/

        .forest-hero
        {
           
            background-position: center;
            background-size: cover;
            padding:100px 20px;
            color:#ffffff;
            display: block;
            height: fit-content;
            text-align: center;
            justify-content: center;
            align-items: center;
        }


        /* Mountain hero and background image */

        .mountains-hero {
           
            background-image: url('images/mt-bg.jpg');
            background-size: cover;
            background-position: center; 
            text-align: center;
            display: block;
            justify-content: center;
            height: fit-content;
            padding: 100px 20px;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);


        }

    
       
        /* Hero and background image */

        .hero {
           
            background-image: url('images/ocean-bg.jpg');
            border-radius: 10px;
            background-size: cover;
            background-position: center; 
            text-align: center;
            display: block;
            justify-content: center;
            height: fit-content;
            padding: 100px 20px;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

  .poles-hero {
        display:block;
    }
.footer-content {

     text-align: center;
    display: inline-block;
    width: 48%;
    text-align: center;
    
    padding: 0 10px;

}
        }
    
    @media (max-width: 480px) {


        nav li {
            margin-bottom: 10px;
        }

        .hero-content h1 {
            font-size: 4rem;
        }
        .cause-item, .threat-item, .action-item {
            width: 95%;
            padding: 9px;
            margin: 20px;
    }
 
}